html{
    background-color: white;
}

body{
    text-align: center;
    line-height: 1.5em;
    border-radius: 10px;
    background-color: #ECEBEB;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    margin-top: 50px;
    font-size: 40px;
}

h3{
    margin: 50px;
}

ul{
    text-align: left;
    margin: 0px 200px 0px 200px;
}

li{
    margin: 15px;
}

blockquote{
    margin: 50px 220px 0px 240px;
    text-align: left;
    line-height: 1.5em;
}

a:visited{
    color: #695884;
}

#box{
    padding: 10px;
    background-color: white;
    margin: 15px;
}

img{
    max-width: 100%;
    max-height: 100%;
    
    margin-bottom: 10px;
}

#description{
    margin: 0px 10px 0px 10px;
}

.round_box{
    border-radius: 5px;
}


